---
Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  portability-*,
  modernize-*,
  -modernize-redundant-void-arg,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-using,
  cert-*,
  -cert-err58-cpp,
  misc-*,
  -misc-definitions-in-headers,

WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include|tests|sources)/'
FormatStyle: file
