html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

* {
	font-family: "Playpen Sans", cursive;
	/*text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;*/
}

a {
	all: unset;
	cursor: pointer;
}

body {
	background-image: url('../images/background.webp');

	display: flex;
	flex-direction: column;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header{
	overflow: hidden;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 1rem;
	background: linear-gradient(0deg,rgba(72, 171, 239, 1) 0%, rgba(0, 83, 176, 1) 70%);
	border: 5px solid rgba(0, 83, 176, 1);
	border-top: 0px;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	-webkit-box-shadow: 0px 5px 13px 5px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 13px 5px rgba(0,0,0,0.4);
	min-height: 100px;
	max-height: 100px;
}

h1, p {
	margin: 0;
}

.logo {
	left: 0px;
	position: absolute;
}

.title{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1{
		font-weight: 600;
		font-size: 3rem;
	}
	p {
		font-size: 1.5rem;
	}
}

.game-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}


/* ----- Main Button ----- */
#playButton{
	border: 2px solid black;
	color: white;
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 42px;
	margin: 4px 2px;
	cursor: pointer;
	background: #48ABEF;
	background: linear-gradient(0deg,rgba(72, 171, 239, 1) 0%, rgba(0, 83, 176, 1) 50%, rgba(72, 171, 239, 1) 100%);

	padding-inline: 5rem;
	padding-block: 0.75rem;

}

#playButton:hover {
	background: #3b8dc4;
	background: linear-gradient(0deg,rgba(59, 141, 196, 1) 0%, rgba(6, 60, 122, 1) 50%, rgba(59, 141, 196, 1) 100%);
}

#gameCanvas {
	display: none;

	position: relative;
	border: 4px solid #1a1a2e;
	border-radius: 12px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);

	background: #ffffff;
	width: 800px;
	height: 600px;

	background-image: url('../images/town.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.area{
	position: relative;
	margin-inline: auto;
	margin-top: 15rem;
	width: 500px;
	height: 300px;
	/*background: rgba(255, 0, 0, 0.50);*/
}

.penguin {
	/*margin-left: 320px;*/
	position: absolute;
	/*right: 20px;*/
	width: 60px;
	/*background-color: green;*/
	margin: 0px;
	height: 80px;
	font-size: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		position: absolute;
		font-size: 14px;
		text-wrap: nowrap;
		bottom: -10px;
	}
}

body.game-started #playButton{
	display: none;
}

body.game-started #gameCanvas {
	display: flex;
}

nav{

	background-color: #013968;
	width: 80vw;
	color: white;
	margin-inline: auto;
	display: flex;
	justify-content: center;
	padding: 0.41rem;
	gap: 1rem;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	span {
		padding-right: 1rem;
		border-right: 2px solid #ff9923;
		text-align: center;
		text-shadow: none;
		transition: all 0.2s;
	}
	span:hover{
		cursor: pointer;
		color: rgba(255, 255, 255, 0.7);
	}
	span:last-child{
		border-right: 0;
		padding-right: 0;
	}
}

.container{
	background-color: white;
	width: 70vw;
	height: 100%;
	margin-inline: auto;
	border-inline: 5px solid rgba(0, 83, 176, 1);
	color: #034f9a;
	h1 {
		font-size: 45px;
		text-shadow: none;
	}
	.container-header{
		padding: 3rem;
		background-color: #fefde1;
		border-bottom: 2px solid #fdf8b8;
	}
	.content{
		display: flex;
		width: 100%;
		height: 100%;
		div {
			height: 100%;
			width: 50%;
		}
		.content-text{
			padding: 3rem;
			h2 {
				font-size: 32px;
				text-shadow: none;
			}
			li {
				color: #ff9923;
				text-shadow: none;
			}
			a {
				color: #034f9a;
				text-shadow: none;
				font-weight: 500;
			}
		}
		.img-about-us{
			display: flex;
			justify-content: center;
			padding-top: 1rem;
			img {
				height: 60%;
			}
		}
	}
}
